embed body {
  margin: 0px;
}

.a4c_ad {
  width: 125px;
  height: 123px;
}

.a4c_ad span{
  padding-left: 18px;
}


.a4c_ad span:hover{
  text-decoration: underline;
}

.a4c_remove {
  cursor: pointer;
}

.a4c_ad .a4c_move{
  cursor: move;
}

.a4c_ad embed {
  width: 133px;
}

.a4c_panel {
  opacity: 0.01;
  z-index: -5;
  margin: -124px 0px -52px 83px;
  padding: 13px 7px 13px 13px ;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  position: absolute;
  left: -75px;
  width: 90px;
  font-size: 16px;
  line-height: 26px;
}

.a4c_ad_new {
  position: absolute;
  z-index:10000;
  background: transparent;
}