embed body {
  margin: 0px;
}

.a4c_ad {
  position: absolute;
  width: 125px;
  height: 123px;
  z-index:10000;
  background: transparent;
  overflow: hidden;
}

.a4c_ad span{
  padding-left: 18px;
}

.a4c_ad .a4c_remove {
  cursor: pointer;
  background-position-y: -3px;
}

.a4c_ad .a4c_move{
  cursor: move;
  margin-left: 84px;
  background-position-y: -1px;
  background-position-x: -1px;
}

.a4c_ad embed {
  width: 133px;
}

.a4c_panel {
  opacity: 0.001;
  z-index: 9998;
  margin: -124px 0px -52px 83px;
  position: absolute;
  background: white;
  left: -75px;
  width: 126px;
  top: 131px;
  -webkit-transition: opacity 0.35s ease-out;
}